<p>Hello <%= @first_name %>  <%= @last_name %> !</p>
<% if @status == "true" %>
  <p>Your booking <%= @name %> is approved  .</p>
<% else %>
  <p>Your booking <%= @name %> is not approved  .</p>
<% end %>



