<p>Hello <%= @name %> !</p>

<p>Your customer <%= @firstname %> <%= @lastname %> have to update booking to view click below link and approve or denie request.</p>

<a href="http://localhost:3000/bookings/<%= @booking %>/booking_change"> Click here </a>

