<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body style="font-size:15px;">
  
  <p>Dear <%= @po.client_name %></p>
  <p>This is to Your Booking form</p>
  <p>This Link is Valid Only 24 Hours.</p>


  <p><%= link_to 'Sign Up', @url %></p></br>
  

  <p>Kind Regards,</p>
  <p>Lisa Sinclair</p>

  <p style="font-weight:bold;"><a style="color:blue;" href="mailto:accounts@entertainoz.com.au">accounts@entertainoz.com.au</a></p>
  <p style="color:#848073;font-weight:bold;"><span style="color:#B50037;">entertain oz pty ltd </span>| PO BOX 862 | TEMPLESTOWE | VIC 3106 | PH: 03 9846 3999</p>
  <p style="color:#848073;font-weight:bold;" >VISIT <a style="color:blue;" href="http://www.entertainoz.com.au">www.entertainoz.com.au</a> FOR ALL YOUR ENTERTAINMENT NEEDS
Australia’s Premier Entertainment Directory and Speakers </p>

  </body>
</html>