<p>Hello <%= @user.first_name %> <%= @user.last_name %>!</p>

<p>Your account has been created after admin will aproove your accound and listing and you will get email after.</p>

<p>After that you can login and visit your portal.</p>

