<h1> Act, Service and venue</h1>
<div class="field">
  <%= f.input :contact_type, label: "Act", :as => :radio_buttons %> 
</div>

 <div class="field">
  <%= f.input :contact_type, label: "Service", :as => :radio_buttons %>
</div>

<div class="field">
  <%= f.input :contact_type, label: "Venue", :as => :radio_buttons  %>
</div>

<hr />