<div class="container"> 
	<div class="col-md-8">
	<h1>Conversations</h1>
	</div>
	<div class="col-md-4 text-right">
    <h1><%= link_to 'Start Conversation', :new_conversation,  :class => "btn btn-default align-center"  %></h1>
  </div>
	<h2>Inbox</h2>
	<div class="table-responsive table-first">
	  <table class="table table-bordered">
	    <thead>
	      <tr>
	        <th>Subject</th>
	        <th>Body</th>
	        <th> Delete </th>
	      </tr>
	    </thead>
	    <tbody>
				<ul>
				  <%= render collection: mailbox.inbox, partial: 'conversation' %>
				</ul>
			</tbody>
		</table>
	</div>


		<h2>Sentbox</h2>
	<div class="table-responsive table-first">
	  <table class="table table-bordered">
	    <thead>
	      <tr>
	        <th>Subject</th>
	        <th>Body</th>
	        <th> Delete </th>
	      </tr>
	    </thead>
	    <tbody>
				<ul>
				  <%= render collection: mailbox.sentbox, partial: 'conversation' %>
				</ul>
			</tbody>
		</table>
	</div>

		<h2>Trash</h2>
	<div class="table-responsive table-first">
	  <table class="table table-bordered">
	    <thead>
	      <tr>
	        <th>Subject</th>
	        <th>Body</th>
	        <th> Delete </th>
	      </tr>
	    </thead>
	    <tbody>
				<ul>
				  <%= render collection: mailbox.trash, partial: 'conversation' %>
				</ul>
			</tbody>
		</table>
	</div>
</div>