<footer class="clearfix">
	<div class="container">
		<div class="col-md-12 no-padding ">
			<div class="col-md-3 col-sm-3 c1">
				<div class="footer-title">SITE LINKS</div>
          <ul class="footer-menu">
            <li><a href="/categories/1">Entertainers</a></li>
            <li><a href="/categories/2">Bands</a></li>
            <li><a href="/categories/3">Celebraties</a></li>
            <li><a href="/categories/4">Speakers</a></li>
            <li><a href="#">Events</a></li>
            <li><a href="#">Services</a></li>
            <!-- <li><a href="#">Listings</a></li> -->
          </ul>
			</div>
			<div class="col-md-3 col-sm-3 c2">
				<div class="footer-title">INFORMATION</div>
          <ul class="footer-menu">
            <li><a href="/static_pages/how_it_works">How it works</a></li>
            <li><a href="/register">Sign Up</a></li>
            <li><a href="/static_pages/testimonials">Testimonials</a></li>
            <li><a href="/static_pages/blog">Blog</a></li>
            <li><a href="/static_pages/about_us">About Us</a></li>
            <li><a href="#">Help Center </a></li>
          </ul>
			</div>
			<div class="col-md-3 col-sm-3 c3">
				<div class="footer-title">SUBSCRIBE TO NEWSLETTER</div>
          <div class="subscribe">
            <input type="text" class="form-control" name="" id="" placeholder="Name:"/>
            <input type="email" class="form-control" name="" id="" placeholder="Email:"/>
            <button class="sub-btn">Subscribe</button>
          </div>
			</div>
			<div class="col-md-3 col-sm-3 c4">
				<div class="footer-title">FOLLOW ME</div>
				<ul class="social_icon">
					<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
				</ul>
				<ul class="social_icon">
					<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
				</ul>
			</div>
		</div>
		
		<div class="footer-bottom">
			<div class="row">
				<div class="col-md-9 col-sm-9">
					<div class="copyright white">COPYRIGHT © EntertainOZ  Pty Ltd. All rights reserved. Entertainment Agency</div>
				</div>
				<div class="col-md-3 col-sm-3">
					<div class="signature white"><a href="https://www.itconsultingcompany.com.au/" class="white">Webdesign</a> by ITCC</div>
				</div>
			</div>
	  </div>
	</div>
</footer>