<div class="inner-page clearfix">
	<div class="container">
  <div class="inner-ttl">Portal</div>
  	<div class="portal">
      
      <!-- ROW 1 -->
      <div class="row">
      		<div class="col-md-3 col-sm-3">
          	<div class="border-block">
          		<a href="/dashboards" class="orange">
                	<div class="inner-block">Dashboard</div>
              </a>
            </div>
          </div>
          <div class="col-md-3 col-sm-3">
          	<div class="border-block">
          		<a href="/contacts/edit" class="light-blue">
                	<div class="inner-block">My Account</div>
              </a>
            </div>
          </div>
          <div class="col-md-3 col-sm-3">
          	<div class="border-block">
          		<a href="/artist_profiles" class="red">
                	<div class="inner-block">Profiles</div>
              </a>
            </div>
          </div>
          <div class="col-md-3 col-sm-3">
          	<div class="border-block">
          		<a href="/artist_service_orders" class="light-green">
                	<div class="inner-block">Service Orders</div>
              </a>
            </div>
          </div>
      </div>
      
      <!-- ROW 2 -->
      <div class="row">
      		<div class="col-md-3 col-sm-3">
          	<div class="border-block">
          		<a href="/inquiries" class="light-pink">
                	<div class="inner-block">Enquiry</div>
              </a>
            </div>
          </div>
          <div class="col-md-3 col-sm-3">
          	<div class="border-block">
          		<a href="" class="light-orange">
                	<div class="inner-block">Orders</div>
              </a>
            </div>
          </div>
          <div class="col-md-3 col-sm-3">
          	<div class="border-block">
          		<a href="/billings" class="gray">
                	<div class="inner-block">Billing</div>
              </a>
            </div>
          </div>
          <div class="col-md-3 col-sm-3">
          	<div class="border-block">
          		<a href="/calenders" class="blue">
                	<div class="inner-block">Calenders</div>
              </a>
            </div>
          </div>
      </div>
      
      <!-- ROW 3 -->
      <div class="row">
      		<div class="col-md-3 col-sm-3">
            <div class="border-block">
              <a href="/reviews" class="see-green">
                  <div class="inner-block">Reviews</div>
              </a>
            </div>
          </div>
          <div class="col-md-3 col-sm-3">
            <div class="border-block">
              <a href="/conversations" class="light-violate">
                  <div class="inner-block">Communications</div>
              </a>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>