<div class="inner-page clearfix">
	<div class="container">
  <div class="inner-ttl">Portal</div>
  	<div class="portal">
      
      <!-- ROW 1 -->
      <div class="row">
      		<div class="col-md-3 col-sm-3">
          	<div class="border-block">
          		<a href="" class="orange">
                	<div class="inner-block">dashboard</div>
              </a>
            </div>
          </div>
          <div class="col-md-3 col-sm-3">
          	<div class="border-block">
          		<a href="" class="light-blue">
                	<div class="inner-block">My Account</div>
              </a>
            </div>
          </div>
          <div class="col-md-3 col-sm-3">
          	<div class="border-block">
          		<a href="" class="red">
                	<div class="inner-block">Listings</div>
              </a>
            </div>
          </div>
          <div class="col-md-3 col-sm-3">
          	<div class="border-block">
          		<a href="" class="light-green">
                	<div class="inner-block">Service Orders</div>
              </a>
            </div>
          </div>
      </div>
      
      <!-- ROW 2 -->
      <div class="row">
      		<div class="col-md-3 col-sm-3">
          	<div class="border-block">
          		<a href="" class="light-pink">
                	<div class="inner-block">Enquiry</div>
              </a>
            </div>
          </div>
          <div class="col-md-3 col-sm-3">
          	<div class="border-block">
          		<a href="" class="light-orange">
                	<div class="inner-block">Orders</div>
              </a>
            </div>
          </div>
          <div class="col-md-3 col-sm-3">
          	<div class="border-block">
          		<a href="" class="gray">
                	<div class="inner-block">Billing</div>
              </a>
            </div>
          </div>
          <div class="col-md-3 col-sm-3">
          	<div class="border-block">
          		<a href="" class="blue">
                	<div class="inner-block">States</div>
              </a>
            </div>
          </div>
      </div>
      
      <!-- ROW 3 -->
      <div class="row">
      		<div class="col-md-3 col-sm-3">
          	<div class="border-block">
          		<a href="" class="see-green">
                	<div class="inner-block">Reviews</div>
              </a>
            </div>
          </div>
          <div class="col-md-3 col-sm-3">
          	<div class="border-block">
          		<a href="" class="light-violate">
                	<div class="inner-block">Communications</div>
              </a>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>